{% extends "base.html" %}
{% block content %}
    <body class="body-content">
        <div id="booking">
            <h2 class="text-center">Bookings</h2>
                <div class="row">
                    {% for item in dish %}
                        <div class="col-md-3">
                            <div class="card">
                                <b>Name: </b>${{item.IT_Name}}<br>
                            </div>
                            <div class="card">
                                <b>Price: </b>${{item.IT_Price}}<br>
                            </div>
                            <div class="card">
                                <b>Table: </b>${{item.TA_Code}}<br>
                            </div>
                        </div>
                    {% endfor %}
                </div>
        </div>
    </body>


{% include "footer.html" %}
{% endblock %}


<!--
<div id="entreeDIV">
    <h2 class="text-center">Entrée</h2>
    <div class="row">
      {% for item in entrees %}
      <div class="col-lg-6 col-sm-12 list-dish">
        <div class="row">
          <div class="col-lg-6 col-sm-12">
            <img class="menu-img rounded float-right" src="{{item.IT_Image.url}}" alt="">
          </div>
          <div class="col-lg-6 col-sm-12">
            <h5 class="text-left">{{item.IT_Name}}</h5>
            <p class="text-left w-50">
              <b>Price: </b>${{item.IT_Price}}<br>
              <b>Calories: </b>{{item.IT_Calories}}
              <br>
              <b>Vegetarian: </b>
              {% if item.IT_Vegetarian %}
              Yes
              {% else %}
              No
              {% endif %}
              <br>
              <b>Glutten Free: </b>
              {% if item.IT_GluttenFree %}
              Yes
              {% else %}
              No
              {% endif %}
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    </div>
-->
