{% extends "base.html" %}
{% block content %}
<title>test</title>

<div class="login-wrap">
  <form method="post">
    {% csrf_token %}
    <!-- {{ form.as_p }} -->
    <br>
    <h1 class="text-center">Edit Profile</h1>
    <hr>
    <div class="row edit-form">
      {% for field in form %}
      {% if field.name != "password" %}
      <div class="col-6 text-right">
        <b>{{ field.label_tag }}</b>
      </div>
      <div class="col-6">
        {{ field }}
      </div>
      {{ field.help_text }}
      <br>
      {% endif %}
      {% endfor %}
    </div>
    <br>
    <button type='submit' class="btn btn-dark btn-md d-flex submit-btn">Submit</button>
  </form>
  <br>
</div>

{% include "footer.html" %}
{% endblock %}
