{% extends 'add_form.html' %}
{% load static %}

{%block content%}

    {% load crispy_forms_tags %}

    <div class="login-wrap">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Login</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
		<div class="login-form">
			<div class="sign-in-htm">
				<form method="POST">
                    {% csrf_token %}
                     {{ form|crispy }}
                    <div class="group">
					    <input type="submit" class="button" value="Login">
				    </div>
                </form>
				<div class="hr"></div>
				<div class="foot-lnk">
					<a href="#forgot">Forgot Password?</a>
				</div>
			</div>
			<div class="sign-up-htm">
                <div class="hr"></div>
                <div class="group">
                    <div class="button">
					   <a style="color: white; text-align: center" href="{% url 'register_url' %}">Click here to Sign Up</a>
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>

{%endblock%}
