
{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container p-3 my-3 border">
        <h1>Welcome to your Profile!</h1>
        <h2>This is your current information</h2>
        <p> Username: {{ user }}</p>
        <p> First Name: {{ user.first_name }}</p>
        <p> Last Name: {{ user.last_name }}</p>
        <p> Email Address: {{ user.email }}</p>
        <a href="{% url 'edit_profile' %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Click here to Edit Profile</a>
    </div>
{% endblock %}
