{% extends 'add_form.html' %}

{% load crispy_forms_tags %}

{%block content%}
<div class="login-wrap">
	<div class="login-html">
		<input id="tab-2" type="radio" name="tab" class="sign-up" checked><label for="tab-2" class="tab">Sign Up</label>
		<div class="login-form">
			<div class="sign-up-htm">
				<form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="group">
					    <input type="submit" class="button" value="Register">
				    </div>
                    <div class="group">
					    <a style="color: #343a40" href="{% url 'login_url' %}">Already a Member? Click here to Login</a>
				    </div>
                </form>
			</div>
		</div>
	</div>
</div>
{%endblock%}