{% extends "base.html" %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Placeholder</h1>
    <div class="w-25">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</div>
    <button type="button" name="button" class="btn btn-dark btn-md">Book</button>
    <button type="button" name="button" class="btn btn-light btn-md">Menu</button>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="food-carousel carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://i.ndtvimg.com/i/2016-07/pasta_625x350_51467797057.jpg" alt="" class="d-block w-100">
          </div>
          <div class="carousel-item">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSJ2k8_VLH84c578lUUQ-GODxE0w7cp3p4R2nq7-C0r1U_f-W1r&usqp=CAU" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <h2>Header</h2>
      <p class="w-50">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.</p>
    </div>
  </div>
</div>

{% include "footer.html" %}
{% endblock %}
