{% extends "base.html" %}
{% block content %}
<div class="container">
    <article class="item-details content-section">
        <p class="reservation-id">{{ reservation.RS_PK }}</h1>
        <p class="customer-id">${{ reservation.RS_CU }}</h3>
        <img class="item-img" src="{{ item.IT_Image.url }}">
        <h2 class="table-code">{{ reservation.RS_TA.TA_Code }}</h2>
        <h3 class="start-time">{{ reservation.RS_Start }}</h3>
        <h3 class="end-time">{{ reservation.RS_End }}</h3>
    </article>
</div>
{% include "footer.html" %}
{% endblock content %}