{% extends "base.html" %}
{% block content %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>What We Offer</h1>
    <div class="w-25">
      Here we offer a large range of authentic Italian cuisine to suit your tasting
    </div>
  </div>
</div>

<div class="container">
  <div class="row align-items-center">
    <div class="col-lg-6 col-sm-12">
      <p class="text-lg-right text-center">test 1</p>
    </div>
    <div class="col-lg-6 col-sm-12">
      <p class="text-lg-left text-center">test 2</p>
    </div>
  </div>
</div>

{% include "footer.html" %}
{% endblock %}
