{% extends "base.html" %}
{% block content %}

<div class="container">
  <br>
  <h1 class="text-center">Today's Order</h1>
  <br>
  {% for order in orderList %}
    <h5><u>Order Number: {{order.OR_PK}}</u></h5>
      {% for orderItem in orderItemList %}
        {%  if orderItem.OI_OR_id == order.OR_PK %}
    <!-- <p>{{orderItem.OI_IT_id}}</p> -->
          {% for item in itemList %}
            {% if orderItem.OI_IT_id == item.IT_PK %}
              <p>- {{item.IT_Name}}</p>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}
      <a class="btn btn-danger" href="/order/{{order.OR_PK}}/delete">Complete</a>
    <br>
  {% endfor %}

</div>

{% include "footer.html" %}
{% endblock %}
